nav{
    background-color: cadetblue;
    border: 2px solid white ;
}
h1{
    color: white;
    position: relative;
    left: 600px;
    font-size: 30px;
}
.p{
    position: relative;
    left: 500px;
    bottom: 700px;
    font-size: 28px;
    box-shadow: 0px 0px 10px gray;
    width: 400px;
    height: 300px;
    text-indent: 20px;
}
#c{
    font-size: 20px;
    position: relative;
    left: 100px;
    background-color: cadetblue;
}
#w{
    font-size: 20px;
    position: relative;
    left: 800px;
    background-color: cadetblue;
}
a{
    position: relative;
    bottom: 800px;
}





